.logo{
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 64px;
    width: auto;
}

p{
    margin-top: 16px;
    margin-bottom: 32px;
}

.price{
    color: chocolate;
    font-size: bold;
}

.add_icon{
  color: tomato;
  font-weight: bold;
  font-size: 32px;
  flex: 0;
  flex-shrink: 0;
  
}

.add_icon:hover{
    cursor: pointer;
    color: rgba(255, 99, 71, 0.768);
    box-shadow: 0px 1px 7px black;
}