.basket_container{
    width: 300px;
    height: auto;
    position: sticky;
    background-color: rgb(231, 231, 231);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(30, 30, 30);
    border-radius: 6px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left:32px;
    margin-right: 32px;
}