.basket_container {
  width: 300px;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  right: 0;
  overflow-y: auto;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.basket_Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 16px;
}

.basket_items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 28px;
}

.basket_empty_text {
  text-align: center;
  color: rgb(88, 88, 88);
}

.price_calculation {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 64px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);

}

.price_calculation_design {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceCalculationTextes {
  margin-top: 16px;
  margin-bottom: 16px;
}

.pricesCalcBTNs {
  border: none;
  background: transparent;
  color: tomato;
  font-size: 28px;
}

.pricesCalcBTNs:hover {
  cursor: pointer;
  opacity: 0.5;
}

.prices_color {
  color: rgb(88, 88, 88);
}

.remove_all_BTN {
  background: transparent;
  border: none;
  color: rgb(141, 39, 39);

}

.order_BTN {
  width: 80%;
  border-style: solid;
  background-color: chocolate;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-width: 1px;
  border-color: aliceblue;
  border-radius: 6px;
  padding: 6px;
  transition: all 0.5s ease-in-out;
}

.order_BTN:hover {
  cursor: pointer;
}

.order_items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 2;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

.dialog_container {
  text-align: center;
  width: 350px;
  height: auto;
  background-color: white;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 250px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 99999;
}

.dialog_container p {
  margin: 16px;
}

.dialog_container button {
  width: 80%;
  border-style: solid;
  background-color: rgb(140, 255, 118);
  border-width: 1px;
  border-color: aliceblue;
  border-radius: 6px;
  padding: 6px;
  transition: all 0.25s ease-in-out;
  margin-bottom: 16px;
}

.dialog_container button:hover {
  cursor: pointer;
  background-color: rgba(141, 255, 118, 0.5);
}

.Mobile_basket_BTN {
  display: none;
  margin-top: 16px;
  width: 90%;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 157, 255);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  padding: 12px;
  border-radius: 6px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 16px;
  z-index: 99999;
  transition: all 0.2s ease-in-out;
}

.Mobile_basket_BTN:hover {
  cursor: pointer;
  box-shadow: 0px 1px 7px black;
  padding: 16px;
  font-size: 18px;
}


@media (max-width: 1012px) {

  .right_container {
    display: none;
    margin: auto;

  }

  .basket_container {
    background-color: rgba(0, 0, 0, 0);
  }

  .baset_subheadline {
    display: none;
  }

  .dialog_container {
    width: 250px;
    height: auto;
  }

}